.view-container {
  width: 100%;
  background-image: linear-gradient(to left, #ec9c3d, white);
  height: 85vh;
  padding-left: 40px;
  padding-top: 60px;
  /* padding: 65px 10px 10px 80px; */
  /* background-image: linear-gradient(to top, rgb(140, 140, 9), white); */
  background-repeat: no-repeat;

  /* padding-top: 30px; */
}
.viewcontent {
  display: flex;
  width: 96%;
  height: 70vh;
  background-image: url("../assets/images/undraw_Mobile_payments_re_7udl.png");
  background-repeat: no-repeat;
  background-size: cover;

  /* background-position: bottom; */
}
.viewfirst {
  width: 50%;
  background-color: #0c2a4eb4;
  clip-path: polygon(0 0, 100% 0, 77% 100%, 0% 100%);
  padding: 60px;
}
.viewfirst p {
  padding: 20px;
  font-size: 23px;
}
.viewsecond {
  /* clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%); */

  width: 50%;
}
