.register-form {
  background-image: linear-gradient(to left, white, #ec9c3d);

  height: 100vh;
  padding: 50px 200px 100px 200px;
}

.registercontent {
  width: 25%;
  height: 160px;
  z-index: 999;
  top: 0;
  left: 0px;

  position: absolute;
  background-color: #0c2a4e;
  -webkit-clip-path: circle(45.3% at 9% 9%);
  clip-path: circle(45.3% at 9% 9%);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}
.registerend {
  width: 25%;
  height: 160px;
  z-index: 999;
  bottom: 0;
  right: 0px;
  -webkit-clip-path: circle(45.3% at 89% 92%);
  clip-path: circle(45.3% at 89% 92%);
  position: absolute;
  background-color: #0c2a4e;
}
.register-container {
  display: flex;
  border-radius: 5px;
  margin-top: 4px;
  background-color: #f6f7fb;
  /* background-color: white; */
  position: relative;
  box-shadow: 0px 0px 14px 1px #5f5e61;
}
.login-container {
  display: flex;
  margin: 10px 200px;
  box-shadow: 1px 1px 0 1px gray;
}
.containerPart1 {
  width: 50%;
  z-index: 2;
  background-color: #f6f7fb;
}
.containerPart2 {
  width: 40%;
  /* border-radius: 30px; */

  /* height: 90vh; */
  /* margin-left: 40px; */
  margin-top: 10px;
  margin-bottom: 20px;
  background-size: cover;
  background-color: #0c2a4eea;
  /* background-color: darkolivegreen; */
  /* background-repeat: no-repeat;
  background-image: url("https://images.pexels.com/photos/9243850/pexels-photo-9243850.jpeg?auto=compress&cs=tinysrgb&w=600"); */
}

.clip-paths {
  margin-left: 60px;
  /* margin-top: 0; */
  /* background-color: #ec9c3d; */
  clip-path: polygon(
    83% 17%,
    70% 15%,
    61% 12%,
    49% 11%,
    0% 31%,
    56% 55%,
    10% 75%,
    25% 90%,
    40% 95%,
    60% 95%,
    75% 91%,
    90% 75%,
    100% 46%,
    100% 25%
  );
  height: 300px;
  width: 200px;
  background-color: #0c2a4e7a;
}
.button {
  background-image: linear-gradient(to top, #ec9c3d, white);

  border: none;
  border-radius: 5px;
  border: black 1px solid;
}
.button a {
  color: black;
  text-decoration: none;
}
.clip-pathOne h3 {
  color: white;
  text-align: center;
}
/* .button h2 {
  color: black;
} */
.buttons {
  /* margin-left: 100px; */
}
.form {
  /* background-color: white; */
  width: 70%;
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
  /* position: absolute; */
  justify-content: space-around;
  margin-left: 170px;
  margin-top: 60px;
  margin-bottom: 30px;
  padding: 30px 40px;
  border-radius: 10px;
}
.form h2 {
  /* padding-top: 20px; */
  display: block;
  color: #643c23;

  /* font-size: 18px; */
}

.not {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  width: 110%;
  margin: 1.5px 0;

  /* align-items: center; */
  color: #333;
  /* background-color: aqua; */
}
